# General
.DS_Store
Thumbs.db
*.log
*.tmp

# Node/Yarn
node_modules/

# Python
__pycache__/
*.pyc

# Mac/Linux
.env

# VSCode
.vscode/
.history/

# Kubernetes
**/kubeconfig.example

# Helm
charts/
*.tgz

# Backstage local development (don't push to GitHub)
backstage-hexaware/
