# Example values for cert-manager
installCRDs: true
resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi
clusterIssuer:
  email: ops@example.com
securityContext:
  runAsNonRoot: false
containerSecurityContext:
  runAsNonRoot: false
cainjector:
  securityContext:
    runAsNonRoot: false
  containerSecurityContext:
    runAsNonRoot: false
webhook:
  securityContext:
    runAsNonRoot: false
  containerSecurityContext:
    runAsNonRoot: false
