elasticsearch:
  replicas: 1
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 1Gi
kibana:
  service:
    type: ClusterIP
  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      cpu: 200m
      memory: 512Mi
fluent-bit:
  outputs: |
    [OUTPUT]
        Name  es
        Match *
        Host  elasticsearch-master.logging.svc.cluster.local
        Port  9200
        Index fluent-bit
        Logstash_Format On
